:root {
  --amarelo: #ffcb47;
  --amarelo-trans: #ffcb473d;
  --branco: #ffffff;
  --cinza: #909090;
  --preto: #202020;
  --preto-trans: #0000000f;

  --ff-corpo: 'Montserrat', sans-serif;
  --ff-titulo-destaque: 'Elsie Swash Caps', serif;
  
  --fw-botao: 700;
  --fw-titulo-destaque: 900;
  
  --fs-corpo: 1rem;
  --fs-titulo: 1.375rem;
  --fs-titulo-destaque: 2rem;
}